<app-search></app-search>
<app-tag></app-tag>
<app-not-found
  [visible]="!verses || !verses.length"
  resetLinkText="Reset Search"
>
</app-not-found>
<ul>
  <li *ngFor="let verse of verses">
    <mat-card routerLink="/verse/{{ verse.id }}">
      <img [src]="verse.imageUrl" [alt]="verse.name" />
      <div class="content">
        <div class="name">
          {{ verse.name }}
        </div>
        <!-- <span class="favorite {{ verse.favorite ? '' : 'not' }}"> ❤ </span>
        <button
          mat-icon-button
          class="mat-icon-button {{ verse.favorite ? '' : 'not' }}"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button> -->

        <button
          mat-mini-fab
          color="white"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of verse.origins">
              {{ origin }}
            </span>
          </div>
        </div>
      </div>
    </mat-card>
  </li>
</ul>
