<header>
  <div class="container">
    <a routerLink="/" class="logo">Biverse Logo</a>
    <nav>
      <ul>
        <!-- <li>
          <a routerLink="/upload">Upload</a>
        </li> -->
        <button mat-button color="white" routerLink="/">Verse</button>
        <button mat-button color="white" routerLink="/">Documents</button>
        <li *ngIf="!isAuth">
          <button mat-button color="white" routerLink="/login-page">
            Login
          </button>
          <!-- <button mat-button color="white">Hello This is Angular</button> -->
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/" (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <button mat-button color="white" routerLink="/cart-page">
            <!-- Cart <span>{{ cartQuantity }}</span>  
            use ngIf so that it only shows if the quantitiy is added-->
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
