<header>
  <div class="container">
    <a routerLink="/" class="logo">Biverse Logo</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/upload">Upload</a>
        </li>
        <!-- <li *ngIf="!isAuth"> -->
        <li>
          <a routerLink="/login-page">Login</a>
        </li>
        <li>
          <!-- <li *ngIf="isAuth" class="menu-container"> -->
          <!-- <a>{{ user.name }}</a> -->
          <div class="menu">
            <a routerLink="/dashboard">Hanbit</a>
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <!-- <a routerLink="/" (click)="logout()">Logout</a> -->
            <a routerLink="/">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <!-- Cart <span>{{ cartQuantity }}</span>  
            use ngIf so that it only shows if the quantitiy is added-->
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
