<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc['email']"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>
      <!-- <input
        type="email"
        label="Email"
        placeholder="Email"
        formControlName="email"
      />
      <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
        <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
        <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
      </div> -->

      <text-input
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      ></text-input>

      <!-- <div class="button">
        <button type="submit">Login</button>
      </div>
      <button text="Login"></button> -->

      <default-button text="Login"></default-button>
      <div class="register">
        New user? &nbsp;
        <a routerLink="/register-page" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
