<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/verse/{{ item.verse.id }}">
        <img [src]="item.verse.imageUrl" />
      </a>
    </td>
    <td>
      {{ item.verse.name }}
    </td>
    <td>
      {{ item.verse.price | currency }}
    </td>
    <td>
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Total : </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency }}
      </strong>
    </td>
  </tr>
</table>
