footer {
  padding: 20px;
  text-align: center;
}

/* Style for the social media icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
